@font-face {
  font-family: "Boxing";
  font-weight: bold;
  src: url("../../public/fonts/boxing-striped.woff2") format("woff2"),
    url("../../public/fonts/boxing-striped\(1\).woff2") format("woff2"),
    url("../../public/fonts/boxing.woff2") format("woff2");
}

@font-face {
  font-family: "fighter";
  font-weight: 400;
  src: url(../../public/fonts/brackley-demo.regular.ttf);
}

:root {
  --fs--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem);
  --fs--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem);
  --fs-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
  --fs-2: clamp(1.4rem, calc(1.2rem + 0.58vw), 1.95rem);
  --fs-3: clamp(2rem, calc(1rem + 1.7vw), 4rem);
  --fs-4: clamp(2.5rem, calc(1rem + 3vw), 5rem);
  --fs-5: clamp(2rem, calc(1rem + 15vw), 18rem);
  --ff-boxing: "fighter";
  --ff-boxing: "Boxing";

  --text: hsl(0, 0%, 100%);
  --text-2: hsl(0, 0%, 10%);
  --background: #080707;
  --background-2: #cfc8c8;
  --primary-button: #858893;
  --secondary-button: #000000;
  --accent: hsl(7, 70%, 49%);
}

@media (prefers-color-scheme: light) {
  :root {
    --text: hsl(0, 0%, 5%);
    --text-2: hsl(0, 0%, 99%);
    --background: hsl(0, 7%, 93%);
    --background-2: hsl(0, 0%, 5%);
    --primary-button: hsl(227, 6%, 55%);
    --secondary-button: hsl(0, 0%, 0%);
    --accent: hsl(7, 70%, 49%);
  }
}

html {
  font-size: 100%;
  color-scheme: dark light;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 1px solid grey; */
}

body {
  background-color: var(--background);
  font-family: "Oswald", sans-serif;
}

img,
video {
  max-width: 100%;
  display: block;
}

a,
a:active {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: transparent 1px solid;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-wrap: balance;
}

h1 {
  font-family: var(--ff-boxing);
}

h2 {
  font-size: var(--fs-3);
}

h3 {
  font-size: var(--fs-2);
}

p {
  font-size: var(--fs-1);
  /* color: var(--text); */
}

.section {
  margin: 5vh 0;
  padding: 0.5vh 0.5vw;
  text-align: center;
  gap: 3rem;
}

.btn {
  font-size: var(--fs-1);
  padding: 0.8rem;
  border: 2px solid var(--background-2);
  margin-inline: 1rem;
  width: fit-content;
  text-transform: capitalize;
}

.principal {
  background-color: var(--accent);
  color: var(--text);
}

.secondary {
  background-color: var(--background-2);
  color: var(--text-2);
}

.highlight {
  color: var(--accent);
}

.icons.icons-light {
  filter: brightness(0) invert(1);
}

.header,
.header__nav,
.header__sponsor,
.header__logo,
.main,
.main__text,
.main__actions,
.carousel,
.section,
.peleas__article,
.footer,
.footer__top,
.footer__info,
.footer__action,
.footer__socials,
.copyright {
  display: flex;
}

.header,
.header__logo,
.main,
.main__text,
.section,
.peleas__article,
.footer,
.footer__info {
  flex-direction: column;
}

.header {
  background-color: var(--background-2);
  /* margin: 1rem; */
  border-bottom: 3px solid var(--background-2);
}

.header__nav {
  padding-block: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 3px solid var(--background);
  align-items: center;
}

.fixed-nav {
  position: fixed;
  inset: 0 0 auto 0;
  height: fit-content;
  background-color: var(--background-2);
  z-index: 999;
}

@media (width < 40em) {
  .header__nav {
    display: none;
  }
}

.header__nav img {
  width: 6rem;
}

.nav__link {
  text-transform: capitalize;
  color: var(--text-2);
  font-weight: 700;
  font-size: var(--fs-0);
  transition: all 0.17s linear;
}

.nav__link:hover {
  color: var(--accent);
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 4px;
}
.header__sponsor {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--text-2);
  font-weight: 600;
}

.header__sponsor h2 {
  text-transform: uppercase;
}
.header__ads {
  padding: 2rem;
  flex: 1;
  text-align: center;
  color: var(--text-2);
}
.header__ads:nth-child(2) {
  border-inline: 3px solid var(--background);
}

@media (width < 40em) {
  .header__ads:nth-child(2) {
    border: none;
    border-right: 3px solid var(--background);
  }
}
.header__logo {
  background-color: var(--background);
}
.header__h1 {
  color: var(--accent);
  text-align: center;
  /* font-size: 18rem; */
  line-height: 1.24;
  white-space: nowrap;
  font-size: var(--fs-5);
}

.main {
  /* align-items: center; */
  width: min(100% - 1rem, 101.875em);
  margin: 0 auto;
}
.main__cover {
  display: grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  align-items: center;
  height: 50em;
  width: 100%;
  aspect-ratio: 16/9;
}

.main__cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../public/images/posters/poster-hero.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%) brightness(20%);
}

.main__text {
  position: relative;
  align-items: center;
  gap: 1rem;
  color: hsl(0, 0%, 100%);
}

.main__text h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
  font-size: var(--fs-4);
}

.carousel {
  gap: 1.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: var(--accent);
  box-shadow: hsla(0, 0%, 0%, 0.45) 0px 25px 20px -20px;
}
.carousel__span {
  font-size: clamp(4rem, calc(1.5rem + 3vw), 5rem);
  line-height: 1;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 0px hsl(0, 0%, 0%), 1px 0 0px black, 1px 2px 1px black,
    2px 1px 1px black, 2px 3px 2px black, 3px 2px 2px black, 3px 4px 2px black,
    4px 3px 3px black, 4px 5px 3px black, 5px 4px 2px black, 5px 6px 2px black;
}

.peleas {
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.peleas__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
  gap: 2rem;
}

.peleas__article {
  background-color: var(--background-1);
  color: var(--text);
  border: 3px solid var(--accent);
  gap: 1rem;
  padding: 0.5rem;
  height: fit-content;
}

.peleas__article img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.article__date {
  font-size: var(--fs-1);
}

.peleas__article p {
  font-size: var(--fs-2);
}

.card {
  --trans-time: 0.5s;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all var(--trans-time) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 3px solid var(--accent);
}

.card img {
  aspect-ratio: 4/4;
  object-fit: cover;
  transition: all var(--trans-time) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--background);
}

.card__content {
  position: absolute;
  inset: 0;
  padding: 1.1rem;
  color: var(--text-2);
  background-color: var(--background-2);
  text-align: left;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all var(--trans-time) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  font-size: var(--fs-2);
  color: var(--text-2);
  font-weight: 700;
}

.card:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: var(--fs-0);
  color: var(--text-2);
  line-height: 1.4;
}

/* ============================ */
/* ============================ */

.table {
  text-align: left;
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 77%);
}

.table {
  border-collapse: collapse;
  border: 2px solid var(--accent);
}

.table th,
.table td,
.table caption {
  padding: 1rem;
}

.table th {
  background-color: hsl(0 0% 100% / 0.9);
  color: hsl(0, 0%, 10%);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: var(--fs-2);
}

.table tr:nth-child(2n) {
  background-color: var(--background);
  color: var(--text);
}

.table caption {
  background-color: var(--background);
  color: var(--text);
  font-size: var(--fs-1);
  text-transform: capitalize;
}

@media (width < 40em) {
  .table th {
    display: none;
  }
  .table td {
    display: block;
    font-size: 1.9rem;
  }

  .table td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
  }
}

/* ============================ */
/* ============================ */

.footer {
  background-color: var(--background-2);
  color: var(--text-2);
}

.footer__top {
  flex-wrap: wrap;
}

.footer__info,
.footer__action {
  flex-basis: 20em;
  flex-grow: 1;
  gap: 1rem;
  padding: 3vh 3vw;
  /* align-items: start; */
  justify-content: center;
}
.footer__action {
  align-items: center;
}
.footer__info p {
  color: var(--text-2);
}
.footer__action a {
  color: var(--text-2);
  font-size: var(--fs-0);
}

.copyright {
  border-top: solid 2px var(--background);
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw;
}

.footer__socials {
  gap: 1rem;
}

.footer__socials--link img {
  width: 2rem;
  aspect-ratio: 1;
}
